{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}Review your tracks{% endtrans %}
{% endblock %}

{% block body %}
    <div class="wrap">
        <h1>{% trans %}Review your tracks{% endtrans %}</h1>
        <div id="react-content"></div>
        {#        <form class="tagging-view form" method="post">#}
        {#            {% for track_file in track_files %}#}
        {#                <div class="tagging-track">#}
        {#                    <div class="tagging-track-name">#}
        {#                        {{ track_file.name }}#}
        {#                    </div>#}
        {#                    <div class="tagging-track-metadata">#}
        {#                        <div class="tagging-track-metadata-row">#}
        {#                            <div class="tagging-track-metadata-field">#}
        {#                                <label for="{{ track_file.uuid }}_title">{% trans %}Title{% endtrans %}</label>#}
        {#                                <input type="text" name="{{ track_file.uuid }}_title" id="{{ track_file.uuid }}_title">#}
        {#                            </div>#}
        {#                            <div class="tagging-track-metadata-field">#}
        {#                                <label for="{{ track_file.uuid }}_artist">{% trans %}Artist{% endtrans %}</label>#}
        {#                                <input type="text" name="{{ track_file.uuid }}_artist" id="{{ track_file.uuid }}_artist">#}
        {#                            </div>#}
        {#                        </div>#}
        {#                        <div class="tagging-track-metadata-row">#}
        {#                            <div class="tagging-track-metadata-field">#}
        {#                                <label for="{{ track_file.uuid }}_album">{% trans %}album{% endtrans %}</label>#}
        {#                                <input type="text" name="{{ track_file.uuid }}_album" id="{{ track_file.uuid }}_album">#}
        {#                            </div>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#            {% endfor %}#}
        {#        </form>#}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('review') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        {% autoescape 'js' %}
        window.__tracksToReview = {{ tracks_to_review_json|raw }};
        {% endautoescape %}
    </script>
    {{ encore_entry_script_tags('review') }}
{% endblock %}
