{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}Review your tracks{% endtrans %}
{% endblock %}

{% block body %}
    <div class="wrap">
        <h1>{% trans %}Review your tracks{% endtrans %}</h1>
        <div id="react-content"></div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('review') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        {% autoescape 'js' %}
        window.__tracksToReview = {{ tracks_to_review_json|raw }};
        {% endautoescape %}
    </script>
    {{ encore_entry_script_tags('review') }}
{% endblock %}
