{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}Your tracks{% endtrans %}
{% endblock %}

{% block body %}
    <div class="wrap">
        <h1>{% trans %}Your tracks{% endtrans %}</h1>

        <div id="track-list-holder">
            <div class="track-list">
                <div class="track-list-items">
                    {% for index, track in tracks %}
                        <div class="track-list-item" data-id="{{ track.id }}">
                            <div class="track-list-item-status">
                                <div class="track-list-item-number">
                                    {{ index + 1 }}.
                                </div>
                            </div>
                            <div class="track-list-item-info">
                                <div class="track-list-item-title">
                                    {{ track.title }}
                                </div>
                                <div class="track-list-item-duration">
                                    {{ track.duration }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('track_list') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        {% autoescape 'js' %}
        window.__tracks = {{ tracks_json|raw }};
        {% endautoescape %}
    </script>
    {{ encore_entry_script_tags('track_list') }}
{% endblock %}
